<style>
    .main
        {
            align-content: center;
            text-align: center;
            margin: 10px;
        }
    #butto:focus
        {
                width: 25%;
                background-color: skyblue;
        }
    #butto
       {
            background-color:royalblue;
            padding : 10px 30px;
            align-content: center;
            font-size: 15px;
            border-radius: 5px;
            width: 20%;
            color: white;
        }
</style>
{% extends 'layout.html' %}

{% block title %}Edit{% endblock %}

{% block content %}
<h2>Edit Page</h2>
<div class = "main">
<div class=msg >Hi {{ session['username'] }}</div> <h2></h2> 
<br><br>
<form action="{{ url_for('update') }}" method="post" autocomplete="off">
    <label for="password">
        <i class="fas fa-lock"></i>
    </label>
    <input type="password" name="password" placeholder="Password" id="password" required>
    <br>
    <br>
    <label for="email">
        <i class="fas fa-envelope"></i>
    </label>
    <input type="email" name="email" placeholder="Email" id="email" required>
    <br><br>
    <div class="msg" >{{ msg }}</div>
    <br><br>
    <input  id="butto" type="submit" value="update" name="update">
</form>
</div>
<a href="{{ url_for('profile') }}"><input id="butto" type="button" value="Back"></a>
{% endblock %}