<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="icon" href="https://www.bsgtech.com/images/msp-icons/spam-protection.jpg" type="image/jpg">

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="firstpage"  onload="myFunction()" >

		<section id="loader">
			<div class="loading">
				<div class="blocks" style="--i:1;"></div>
				<div class="blocks" style="--i:2;"></div>
				<div class="blocks" style="--i:3;"></div>
				<div class="blocks" style="--i:4;"></div>
				<div class="blocks" style="--i:5;"></div>
				<div class="blocks" style="--i:6;"></div>
				<div class="blocks" style="--i:7;"></div>
				<div class="blocks" style="--i:8;"></div>
				<div class="blocks" style="--i:9;"></div>
				<div class="blocks" style="--i:10;"></div>
				<div class="blocks" style="--i:11;"></div>
				<div class="blocks" style="--i:12;"></div>
				<div class="blocks" style="--i:13;"></div>
				<div class="blocks" style="--i:14;"></div>
				<div class="blocks" style="--i:15;"></div>
				<div class="blocks" style="--i:16;"></div>
				<div class="blocks" style="--i:17;"></div>
				<div class="blocks" style="--i:18;"></div>
				<div class="blocks" style="--i:19;"></div>
				<div class="blocks" style="--i:20;"></div>
				
			</div>
			<h3>Loading</h3>
		</section>
    <div id="myDiv">
		<nav class="navtop">
			<div>
				<h1>Spam Detection</h1>
                <a href="{{ url_for('login') }}"><i class="fas fa-users"></i>Login</a>
				<a href="{{ url_for('register') }}"><i class="fas fa-user-plus"></i>Register</a>
				<a href="{{ url_for('spamDetection') }}"><i class="fas fa-home"></i>Home</a>				
			</div>
		</nav>
	
		<div class="login">
			<h1>Login</h1>
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Login</a>
				<a href="{{ url_for('register') }}">Register</a>
			</div>
			<form action="{{ url_for('login') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
	</div>
	<script>
        var myVar;
        
        function myFunction() {
          myVar = setTimeout(showPage, 3000);
        }
        
        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("myDiv").style.display = "block";
        }
        </script>
		
	</body>
</html>