<style>
    .main
        {
            align-content: center;
            text-align: center;
            margin: 10px;
        }
    #butto:focus
        {
                width: 25%;
                background-color: skyblue;
        }
    #butto
       {
            background-color:royalblue;
            padding : 10px 30px;
            align-content: center;
            font-size: 15px;
            border-radius: 5px;
            width: 20%;
            color: white;
        }
</style>
{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td class="msg">{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td class="msg">{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td class="msg">{{ account['email'] }}</td>
        </tr>
    </table>
    <div class="main">
    <a href="{{ url_for('edit') }}"><input id="butto" type="button" value="Edit"></a>
    </div>
</div>
<a href="{{ url_for('home') }}"><input id="butto" type="button" value="Back"></a>
{% endblock %}